# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science.
- Introduce common open-source development environments for Data Science.
- Provide examples of evaluating arithmetic expressions in Python.
- Explore fundamental concepts in Data Science.
- Demonstrate basic coding practices in Python for Data Science tasks.Scala

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Keras
6. SciKit-Learn
7. PyTorch
8. TensorFlow.

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Spyder                 |   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
min=float(input("enter min"))
hours=float(min/60)
print(hours)

enter min 200

3.3333333333333335

## Author

Your Name Amaan Abbas